* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background-color: #ffffff;
}

.nim{
    text-align: center;
    color: #8a1aa0;
    margin-top: 20px;
    font-size: 35px;
    font-weight: bold;
}

.banner {
    background-color: #ffffff;
    text-align: center;
    color: white;
}


.banner-image img {
    width: 100%;
    max-height: 350px;
    object-fit: cover;
}


.navbar {
    background-color: #8400ff;
    padding: 10px 50px;
}

.navbar ul {
    display: flex;
    justify-content: flex-end;
    list-style: none;
}

.navbar ul li {
    margin-left: 20px;
}

.navbar ul li a {
    text-decoration: none;
    color: rgb(0, 0, 0);
    font-size: 14px;
    font-weight: bold;
}


.container {
    display: flex;
    min-height: 300px;
}


.biodata {
    flex: 1; 
    background-color: #053c61;
    padding: 10px;
}

.biodata h2 {
    margin-bottom: 1px;
    color: white;
}

.profile-pic img {
    width: 180px;
    height: auto;
    margin-bottom: 15px;
}


.work-experience {
    flex: 2; 
    background-color: white;
    padding: 20px;
}

.work-experience h2 {
    margin-bottom: 10px;
}


table {
    width: 50%;
    border-collapse: collapse;
}

table th {
    background-color: #320038;
    text-align: left;
    padding: 5px;
    border: 1px solid #ccc;
}

table td {
    padding: 3px;
    border: 1px solid #ccc;
    font-size: 12px;
}


.footer {
    background-color: #8400ff;
    color: rgb(255, 255, 255);
    text-align: center;
    padding: 15px;
    font-size: 12px;
}